<h1 class="hero-unit">Genres</h1>
<table class="table table-striped genre">
    <thead>
        <tr>
            <th>Title</th>
            <th>Subgenres</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="genre in genres">
            <td>{{genre.title}}</td>
            <td>
                <input ng-model="genre.newKey" placeholder="New key" /> <div class="btn" ng-click="addSubgenre()">Add</div><br />
                <div class="alert alert-error" ng-show="genre.invalidKey">Key is already in use / Key isn't numeric</div>
                <ul class="unstyled">
                    <li ng-repeat="subgenre in genre.subgenres" class="subgenre">
                        {{subgenre.subgenre_key}}: <input ng-model="subgenre.title" /> <div class="btn" ng-click="deleteSubgenre()">Remove</div>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<div class="btn" ng-click="doSave()">Save</div>
